{{#if success_msg}}
  <div class="alert alert-success" id="msg">{{success_msg}}</div>
{{/if}}
{{#if error_msg}}
  <div class="alert alert-danger" id="msg">{{error_msg}}</div>
{{/if}}
<script id="msg">setInterval(()=>{document.getElementById("msg")?.remove();},2500)</script>